*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}



nav
{
    background-color: #C60000;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 60px;
}

header .logo
{
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
}

header .logo img
{
    height: 100px;
    -webkit-user-drag: none;
    user-select: none;
}

nav ul a:hover
{
    transition: 0.4s;
    font-weight: 800;
    color: #828282;
}
nav ul 
{
    display: flex;
    gap: 20px;
}
.searchbar
{
    display: flex;
    align-items: center;
}

.searchbar form
{
    position: relative;
    margin-right: 10px;
}

.searchbar input[type="text"]
{
    height: 20px;
    width: 450px;
    padding: 10px 50px 10px 10px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: #D9D9D9;
    font-size: 17px;
}

.searchbar button[type="submit"]
{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 40px;
    padding: 0;
    border: none;
    background: none;
    color: #868686;
    font-size: 20px;
    cursor: pointer;
}
.icon
{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    font-size: 40px;
}
.fa-solid:hover
{
    transition: 0.4s;
    font-weight: 800;
    color: #828282;
}